services:
  munkiwebadmin:
    container_name: munkiwebadmin
    image: mwa3:local
    build:
      context: ..
      dockerfile: docker/Dockerfile.prod
    platform: ${DOCKER_PLATFORM:-linux/amd64}
    restart: unless-stopped
    ports:
      - "${MWA_PORT:-8080}:80"
    env_file:
      - ../munkiwebadmin/.env
    depends_on:
      - db
    links:
      - db
    volumes:
      - munki_repo:/munkirepo
  db:
    container_name: munkidb
    image: postgres:15
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ../munkiwebadmin/.env

volumes:
  postgres_data:

  # Persistent Munki repository data inside Docker
  munki_repo:

